/**
 * Popover Component Demo Style for Uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 @import '../node_modules/kuma-base/variable.less';
 @import '../src/Popover.less';

body {
    padding: 80px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

.kuma-popover-wrap {
    & + & {
        margin-left: 20px;
    }
}

.demoContent {
    .kuma-icon {
        font-size: 20px;
        color: #ff7e29;
        margin-right: 10px;
        vertical-align: middle;
    }
 }

 .demoButton {
    .kuma-button {
        & + .kuma-button {
            margin-left: 10px;
        }
    }
 }
 
