/**
 * Popover Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
@__popoverPrefixCls: kuma-popover;

//** Popover arrow width
@__popover-arrow-width:                 4px;
//** Popover distance with trigger
@__popover-distance:                    @__popover-arrow-width + 4;
//** Popover outer arrow width
@__popover-arrow-outer-width:           @__popover-arrow-width + 1;

.@{__popoverPrefixCls} {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    cursor: auto;
    user-select: text;
    white-space: normal;
    font-size: 12px;
    line-height: 1.4;
    font-weight: normal;
    text-align: left;

    &-button-group {
        padding: 10px 0;
        background-color: @basic-300;
        text-align: center;
        .kuma-button {
            margin-right: 10px;
        }
    }

  &-hidden {
    display: none;
  }

  // Offset the popover to account for the popover arrow
  &-placement-top,
  &-placement-topLeft,
  &-placement-topRight {
    margin-top: -@__popover-arrow-width;
    padding-bottom: @__popover-distance;
  }

  &-placement-right,
  &-placement-rightTop,
  &-placement-rightBottom {
    margin-left: @__popover-arrow-width;
    padding-left: @__popover-distance;
  }

  &-placement-bottom,
  &-placement-bottomLeft,
  &-placement-bottomRight {
    margin-top: @__popover-arrow-width;
    padding-top: @__popover-distance;
  }

  &-placement-left,
  &-placement-leftTop,
  &-placement-leftBottom {
    margin-left: -@__popover-arrow-width;
    padding-right: @__popover-distance;
  }

  &-inner {
    min-width: 180px;
    background-color: #fff;
    border: 1px solid @border-color;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    .@{__popoverPrefixCls}-content {
        > div {
            &:first-child {
                padding: 20px;
            }
        }
    }
  }

    &-title {
        padding: 0 20px;
        line-height: 32px;
        height: 32px;
        border-bottom: 1px solid @border-color;
        color: @text-secondary-color;
    }

  // Arrows
  // .popover-arrow is outer, .popover-arrow:after is inner

  &-arrow {
    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }

  &-arrow {
    border-width: @__popover-arrow-outer-width;
  }
  &-arrow:after {
    border-width: @__popover-arrow-width;
    content: "";
  }

  &-placement-top &-arrow,
  &-placement-topLeft &-arrow,
  &-placement-topRight &-arrow {
    left: 50%;
    margin-left: -@__popover-arrow-outer-width;
    border-bottom-width: 0;
    border-top-color: @border-color;
    bottom: @__popover-distance - @__popover-arrow-outer-width + 1;
    &:after {
      content: " ";
      bottom: 1px;
      margin-left: -@__popover-arrow-width;
      border-bottom-width: 0;
      border-top-color: #fff;
    }
  }
  &-placement-topLeft &-arrow {
    left: 15%;
  }
  &-placement-topRight &-arrow {
    left: 85%;
  }

  &-placement-right &-arrow,
  &-placement-rightTop &-arrow,
  &-placement-rightBottom &-arrow {
    top: 50%;
    left: @__popover-distance - @__popover-arrow-outer-width + 1;
    margin-top: -@__popover-arrow-outer-width;
    border-left-width: 0;
    border-right-color: @border-color;
    &:after {
      content: " ";
      left: 1px;
      bottom: -@__popover-arrow-width;
      border-left-width: 0;
      border-right-color: #fff;
    }
  }
  &-placement-rightTop &-arrow {
    top: 15%;
  }
  &-placement-rightBottom &-arrow {
    top: 85%;
  }

  &-placement-bottom &-arrow,
  &-placement-bottomLeft &-arrow,
  &-placement-bottomRight &-arrow {
    left: 50%;
    margin-left: -@__popover-arrow-outer-width;
    border-top-width: 0;
    border-bottom-color: @border-color;
    top: @__popover-distance - @__popover-arrow-outer-width + 1;
    &:after {
      content: " ";
      top: 1px;
      margin-left: -@__popover-arrow-width;
      border-top-width: 0;
      border-bottom-color: #fff;
    }
  }
  &-placement-bottomLeft &-arrow {
    left: 15%;
  }
  &-placement-bottomRight &-arrow {
    left: 85%;
  }

  &-placement-left &-arrow,
  &-placement-leftTop &-arrow,
  &-placement-leftBottom &-arrow {
    top: 50%;
    right: @__popover-distance - @__popover-arrow-outer-width + 1;
    margin-top: -@__popover-arrow-outer-width;
    border-right-width: 0;
    border-left-color: @border-color;
    &:after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-color: #fff;
      bottom: -@__popover-arrow-width;
    }
  }
  &-placement-leftTop &-arrow {
    top: 15%;
  }
  &-placement-leftBottom &-arrow {
    top: 85%;
  }
}

@keyframes popoverSlideInLeft {
  0% {
    transform: translate(-10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popoverSlideOutLeft {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-10px, 0);
    opacity: 0;
  }
}

.@{__popoverPrefixCls}-placement-right,
.@{__popoverPrefixCls}-placement-rightTop,
.@{__popoverPrefixCls}-placement-rightBottom {
  &.popover-slide-enter,
  &.popover-slide-appear {
    opacity: 0;
    transform: translate(-10px, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-enter-active,
  &.popover-slide-appear-active {
    animation-name: popoverSlideInLeft;
  }
  &.popover-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-leave-active {
    animation-name: popoverSlideOutLeft;
  }
}

@keyframes popoverSlideInRight {
  0% {
    transform: translate(10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popoverSlideOutRight {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(10px, 0);
    opacity: 0;
  }
}

.@{__popoverPrefixCls}-placement-left,
.@{__popoverPrefixCls}-placement-leftTop,
.@{__popoverPrefixCls}-placement-leftBottom {
  &.popover-slide-enter,
  &.popover-slide-appear {
    opacity: 0;
    transform: translate(10px, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-enter-active,
  &.popover-slide-appear-active {
    animation-name: popoverSlideInRight;
  }
  &.popover-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-leave-active {
    animation-name: popoverSlideOutRight;
  }
}

@keyframes popoverSlideInBottom {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popoverSlideOutBottom {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px);
    opacity: 0;
  }
}

.@{__popoverPrefixCls}-placement-top,
.@{__popoverPrefixCls}-placement-topLeft,
.@{__popoverPrefixCls}-placement-topRight {
  &.popover-slide-enter,
  &.popover-slide-appear {
    opacity: 0;
    transform: translate(0, 10px);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-enter-active,
  &.popover-slide-appear-active {
    animation-name: popoverSlideInBottom;
  }
  &.popover-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-leave-active {
    animation-name: popoverSlideOutBottom;
  }
}

@keyframes popoverSlideInTop {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popoverSlideOutTop {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}

.@{__popoverPrefixCls}-placement-bottom,
.@{__popoverPrefixCls}-placement-bottomLeft,
.@{__popoverPrefixCls}-placement-bottomRight {
  &.popover-slide-enter,
  &.popover-slide-appear {
    opacity: 0;
    transform: translate(0, -10px);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-enter-active,
  &.popover-slide-appear-active {
    animation-name: popoverSlideInTop;
  }
  &.popover-slide-leave {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: ease-out;
    animation-duration: .3s; 
  }
  &.popover-slide-leave-active {
    animation-name: popoverSlideOutTop;
  }
}
