@popover-prefix-cls: kuma-popover;

//
// Popovers
// --------------------------------------------------
@font-size-base         : 12px;
@line-height-base       : 1.5;
@border-radius-base     : 0px;
@overlay-shadow              : 0 0 4px rgba(0, 0, 0, 0.17);
//** Popover text color
@popover-color: #333333;
//** Popover background color
@popover-bg: #ffffff;
@popover-opacity: 1;

@popover-border-width: 1px;
@popover-border-color: #e9e9e9;
@popover-shadow-width: 1px;

//** Popover arrow width
@popover-arrow-width: 6px;
//** Popover distance with trigger
//** Popover arrow color
@popover-arrow-color: @popover-border-color;
@popover-arrow-inner-color: @popover-bg;

// Base class
.@{popover-prefix-cls} {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  line-height: @line-height-base;
  font-size: @font-size-base;
  background-color:rgba(0, 0, 0, 0.05);
  padding: @popover-shadow-width;
  opacity: @popover-opacity;

  &-hidden {
    display: none;
  }
  &-title {
    margin: 0; // reset heading margin
    padding: 0 16px;
    line-height: 32px;
    height: 32px;
    border-bottom: 1px solid #e9e9e9;
    color: #666;
  }
}

// Wrapper for the popover content
.@{popover-prefix-cls}-inner {
  
  color: @popover-color;
  text-align: left;
  text-decoration: none;
  background-color: @popover-bg;
  border-radius: @border-radius-base;
  min-height: 34px;
  border:@popover-border-width solid @popover-border-color;
  .@{popover-prefix-cls}-content {
    padding: 8px 10px;
  }
}

// Arrows
.@{popover-prefix-cls}-arrow,
.@{popover-prefix-cls}-arrow-inner{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.@{popover-prefix-cls} {
  &-placement-top &-arrow,
  &-placement-topLeft &-arrow,
  &-placement-topRight &-arrow{
    bottom: -@popover-arrow-width + @popover-shadow-width;
    margin-left: -@popover-arrow-width;
    border-width: @popover-arrow-width @popover-arrow-width 0;
    border-top-color: @popover-arrow-color;
  }

  &-placement-top &-arrow-inner,
  &-placement-topLeft &-arrow-inner,
  &-placement-topRight &-arrow-inner{
    bottom: @popover-border-width;
    margin-left: -@popover-arrow-width;
    border-width: @popover-arrow-width @popover-arrow-width 0;
    border-top-color: @popover-arrow-inner-color;
  }

  &-placement-top &-arrow {
    left: 50%;
  }

  &-placement-topLeft &-arrow {
    left: 5%;
  }

  &-placement-topRight &-arrow {
    right: 5%;
  }

  &-placement-right &-arrow,
  &-placement-rightTop &-arrow,
  &-placement-rightBottom &-arrow {
    left: -@popover-arrow-width + @popover-shadow-width;
    margin-top: -@popover-arrow-width;
    border-width: @popover-arrow-width @popover-arrow-width @popover-arrow-width 0;
    border-right-color: @popover-arrow-color;
  }

  &-placement-right &-arrow-inner,
  &-placement-rightTop &-arrow-inner,
  &-placement-rightBottom &-arrow-inner {
    left: @popover-border-width;
    margin-top: -@popover-arrow-width;
    border-width: @popover-arrow-width @popover-arrow-width @popover-arrow-width 0;
    border-right-color: @popover-arrow-inner-color;
  }

  &-placement-right &-arrow {
    top: 50%;
  }

  &-placement-rightTop &-arrow {
    top: 5%;
    margin-top: 0;
  }

  &-placement-rightBottom &-arrow {
    bottom: 5%;
  }

  &-placement-left &-arrow,
  &-placement-leftTop &-arrow,
  &-placement-leftBottom &-arrow {
    right: -@popover-arrow-width + @popover-shadow-width;
    margin-top: -@popover-arrow-width;
    border-width: @popover-arrow-width 0 @popover-arrow-width @popover-arrow-width;
    border-left-color: @popover-arrow-color;
  }

  &-placement-left &-arrow-inner,
  &-placement-leftTop &-arrow-inner,
  &-placement-leftBottom &-arrow-inner {
    right: @popover-border-width;
    margin-top: -@popover-arrow-width;
    border-width: @popover-arrow-width 0 @popover-arrow-width @popover-arrow-width;
    border-left-color: @popover-arrow-inner-color;
  }

  &-placement-left &-arrow {
    top: 50%;
  }

  &-placement-leftTop &-arrow {
    top: 5%;
    margin-top: 0;
  }

  &-placement-leftBottom &-arrow {
    bottom: 5%;
  }

  &-placement-bottom &-arrow,
  &-placement-bottomLeft &-arrow,
  &-placement-bottomRight &-arrow {
    top: -@popover-arrow-width + @popover-shadow-width;;
    margin-left: -@popover-arrow-width;
    border-width: 0 @popover-arrow-width @popover-arrow-width;
    border-bottom-color: @popover-arrow-color;
  }

  &-placement-bottom &-arrow-inner,
  &-placement-bottomLeft &-arrow-inner,
  &-placement-bottomRight &-arrow-inner {
    top: @popover-border-width;
    margin-left: -@popover-arrow-width;
    border-width: 0 @popover-arrow-width @popover-arrow-width;
    border-bottom-color: @popover-arrow-inner-color;
  }

  &-placement-bottom &-arrow {
    left: 50%;
  }

  &-placement-bottomLeft &-arrow {
    left: 5%;
  }

  &-placement-bottomRight &-arrow {
    right: 5%;
  }
}